<ion-card>
    <ion-card-header>
        <ion-card-subtitle>

            <span class="text-idx">{{ idx+ 1 }}.</span>
            <span class="heroe-source-name"> {{villano.nombre}}</span>

            <div class="heroe-more">
                <ion-button (click)="lanzarMenu()" fill="clear">
                    <ion-icon class="ion-icon" slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                </ion-button>

            </div>
            <div class="card animated fadeIn fast">
                <img [src]="villano.img" class="card-img-top" [alt]="villano.nombre">
                <div class="card-body">
                    <!-- <h5 class="card-title">{{villano.nombre}}</h5> -->
                    <p class="card-text"><small class="text-muted">{{villano.aparicion}}</small></p>
                    <p class="card-text">{{villano.bio}}</p>

                </div>
            </div>
        </ion-card-subtitle>
    </ion-card-header>
</ion-card>