<ion-card>
    <ion-card-header>
        <ion-card-subtitle>
            <div class="card animated fadeIn fast">
                <img [src]="villano.img" class="card-img-top" [alt]="villano.nombre">
                <div class="card-body">
                    <h5 class="card-title">{{villano.nombre}}</h5>
                    <p class="card-text"><small class="text-muted">{{villano.aparicion}}</small></p>
                    <p class="card-text">{{villano.bio}}</p>

                </div>
            </div>
        </ion-card-subtitle>

        <!-- <ion-card-title (click)="abrirPagina()"> {{ noticia.title }} </ion-card-title> -->

    </ion-card-header>
</ion-card>